{% extends "layout.html" %}

{% block content %}


    <head>
        <title>Film Review</title>
        <h1>Welcome to Film Review</h1>
    </head>

    {% if session.username %}

    <p>Hello {{ session.username }}!</p>
    <a href="/logout">Log out</a>
    <br>
    <br>
    <br>
    Add a film:
    <br>
    <br>
    <p>Name:<br>
        <input type="text" name="filmname"></p>
    <p>Year:<br>
        <input type="text" name="filmyear"></p>
    <p>Director:<br>
        <input type="text" name="filmdirector"></p>
    <p>Genre:<br>
        <input type="text" name="filmgenre"></p>
    <p>Rating:<br>
        <input type="number" min="0" max="10" name="filmrating">

    {% else %}

    <body>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Log In</a></li>
    </body>

    {% endif %}

{% endblock %}